<!DOCTYPE html>
<html>
  {% extends "base_template.html" %}
  {% block content %}
    <body id="landing">
        <div class="container text-center">
            <!---  Makes an xxl container inside the grind and plases an picture -->
            <div class="row">
                <div class="col-xxl">
                    <!-- Rendes image the img-flid class gives it an with of 100% and hieght auto-->
                    <div class="card">
                        <img src="../../static/img/plane.jpg" class="img-fluid" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Welkom {{user}} on board this Conrendon flight</h5>
                          <p>you now have access to our onboard Wi-Fi.<br>
                          Please respect our fair use policy and plese refrain form using the Wi-Fi for malicious intent.</p>

                        </div>
                      </div>   
                </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="card">
                    <div class="card-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu 
                        sodales risus. Pellentesque id condimentum est, eu dictum sem. Proin 
                        commodo, tortor ut iaculis fringilla, eros elit tempor odio, non porta 
                        urna orci nec ipsum. Cras nibh lorem, sagittis et mattis in, egestas et 
                        est. Nulla facilisi. Suspendisse arcu sem, efficitur non fermentum in, 
                        semper non ipsum. Nam risus purus, dapibus vel dui non, ultricies 
                        fringilla nisi. In hac habitasse platea dictumst. Ut vel felis ac 
                        nulla ornare suscipit vulputate eget leo. Mauris aliquam gravida 
                        lacinia. Donec pulvinar est scelerisque, pellentesque orci nec, 
                        accumsan nisl. Aliquam sit amet est vel nunc blandit iaculis.
                    </div>
                  </div>
              </div>
              <div class="col">
                <div class="card">
                    <div class="card-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu 
                        sodales risus. Pellentesque id condimentum est, eu dictum sem. Proin 
                        commodo, tortor ut iaculis fringilla, eros elit tempor odio, non porta 
                        urna orci nec ipsum. Cras nibh lorem, sagittis et mattis in, egestas et 
                        est. Nulla facilisi. Suspendisse arcu sem, efficitur non fermentum in, 
                        semper non ipsum. Nam risus purus, dapibus vel dui non, ultricies 
                        fringilla nisi. In hac habitasse platea dictumst. Ut vel felis ac 
                        nulla ornare suscipit vulputate eget leo. Mauris aliquam gravida 
                        lacinia. Donec pulvinar est scelerisque, pellentesque orci nec, 
                        accumsan nisl. Aliquam sit amet est vel nunc blandit iaculis.
                    </div>
                  </div>
              </div>
              <div class="col">
                <div class="card">
                    <div class="card-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu 
                        sodales risus. Pellentesque id condimentum est, eu dictum sem. Proin 
                        commodo, tortor ut iaculis fringilla, eros elit tempor odio, non porta 
                        urna orci nec ipsum. Cras nibh lorem, sagittis et mattis in, egestas et 
                        est. Nulla facilisi. Suspendisse arcu sem, efficitur non fermentum in, 
                        semper non ipsum. Nam risus purus, dapibus vel dui non, ultricies 
                        fringilla nisi. In hac habitasse platea dictumst. Ut vel felis ac 
                        nulla ornare suscipit vulputate eget leo. Mauris aliquam gravida 
                        lacinia. Donec pulvinar est scelerisque, pellentesque orci nec, 
                        accumsan nisl. Aliquam sit amet est vel nunc blandit iaculis.
                    </div>
                  </div>
              </div>
            </div>
          </div>
    <div class="center">
    </div>
    <div id="footer">
        Copyright &copy; Max Luiten </div>
</div> 
</body>
{% endblock %}
</html>