<!DOCTYPE html>
<html>
    {% extends "base_template.html" %}
    {% block content %}
    <div id="container">
        <div id="header">
           
        </div>
        <div id="content">
            <div id="main">
                <div class="grid-container">
                    <div>1</div>
                    <div>2</div>
                    <div>3</div>  
                    <div>4</div>
                    <div>5</div>
                    <div>6</div>
                    <div>7</div>
                    <div>8</div>
                  </div> 
            </div>
        </div>
    <div id="footer">
            Copyright &copy; Max Luiten </div>
    </div>
</body>
{% endblock %}
</html>
